<aside class="aside  typeset  aside--{{ include.align | default: 'right' }}">
  <nav class="toc">
  <h3>Contents</h3>
  <ul id="sidebar-toc"></ul>
</nav>
<script>
document.addEventListener("DOMContentLoaded", function(){
  var toc = document.getElementById('sidebar-toc');
  toc.innerHTML = "";
  var headers = document.querySelectorAll('.content h2, .content h3');
  if (!headers.length) {
    var main = document.querySelector('main');
    if (!main) return;
    headers = main.querySelectorAll('h2, h3, h4');
  }
  var used = {};
  var exclude = ["Contents", "About"];
  headers.forEach(function(h){
    if (exclude.includes(h.textContent.trim())) return;
    if (!h.id) h.id = h.textContent.replace(/\s+/g, '-').toLowerCase();
    if (used[h.id]) return;
    used[h.id] = true;
    var li = document.createElement('li');
    if(h.tagName==="H3") li.style.marginLeft="1.5em";
    var a = document.createElement('a');
    a.href="#"+h.id;
    a.textContent = h.textContent;
    li.appendChild(a);
    toc.appendChild(li);
  });
});
</script>




  {% if page.layout == "post" %}
    <section class="section  section--related-posts">
      {% include post-related.html %}
    </section>

  {% elsif page.layout == "page" or page.layout == "home" or page.layout == "blog" %}
    <section class="section  section--description">
      <h3>About</h3>
      <p>Meowdy!</p>
      <p>I'm Teddy (Yen-Hsiang, Huang).
      <p>Welcome to my personal site~</p>
      <div class="nav-social"></div>
      {% include nav-social.html %}
    </section>

  {% elsif page.layout == "categories" %}
    <section class="section  section--category-index">
      <h3>Index</h3>
      {% include nav-categories.html %}
    </section>

  {% endif %}

</aside>
